.move-top{
    margin-top: -50px;
}

.article{
    width:100%;
    min-width:1000px;
    height:auto;
}

.alignment{
    text-align: left;
}
.change{
    background-color:antiquewhite; 
}

.align-space{
    margin-bottom: 30px;
}
.font-contact{
    color:Black;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px; 
    align-items: center;
    text-align: center;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 100%;
    margin-top: 13px;
    

    
}

.contain{
    display: flex;
    height: 120vh;
    overflow: hidden; 
    align-items: center;

}
.split-screen{
    width: 50%;
    top: 0;
      cursor: default;
  position:fixed;

}

.right-half{
    left:0;
    flex: 1;
    padding: 100px;
}

.left-half{
    -moz-border-right-colors:0;
    flex: 1;
    padding: 100px;

}

.icon-inline{
    color:rgb(30,48,80);
    font-family: "Inika", Times, serif;
    padding-top: 0.5em;
    font-size:35px;
    font-weight: normal;
    


}

.icon-inline2{
    color:rgb(30,48,80);
    font-family: "Inika", Times, serif;
    padding-top: 3.8em;
    font-size:35px;
    font-weight: normal;


}

.icon-inline3{
    color:rgb(30,48,80);
    font-family: "Inika", Times, serif;
    padding-top: 3.8em;
    font-size:35px;
    font-weight: normal;


}

.move-right{
    margin-right:120px;
}

.move-right2{
    margin-right:260px;
}

.move-right3{
    margin-right:140px;
}

  
  .backdrop {
    background-color: antiquewhite;
    padding: 3em;
  }

.label{
    color:"black";
    text-align: left;
}
