.small-container {
    color: black !important;
  }
  
  .background-unique {
    background-color: antiquewhite;
  }
  
  .font-events {
    color:Black;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px; 
    align-items: center;
    text-align: center;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 100%;
      margin-top: 15px;

  }
  
  .card-title {
    font-family: 'Tahoma', Times, serif;
  }
  
  .font2-events {
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    margin-bottom: 30px;
    padding: 30px;
    width: 70%;
    margin: 0 auto;
  }
  
  .font3 {
    color: black !important;
    font-family: "Inika", Times, serif;
    font-size: 60px;
    align-items: center;
    text-align: center;
    font-style: normal;
    padding: 30px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1700px; /* Adjust the maximum width as needed */
    padding: 20px;
  }
  
  @media (max-width: 1850px) {
    .card-container {
      justify-content: center;
    }
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .background {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 80px); /* Subtract the footer's height */
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    position: relative; /* Add this positioning property */
  }
  
  .text-contain {
    border-radius: 20px;
    max-width: 1000px;
    margin: auto;
  }
  
  has-text-right {
    text-align: right;
  }
  
  .card-top {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 100%;
  }
  